absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
async-timeout==5.0.1
attrs==25.3.0
bcrypt==5.0.0
beautifulsoup4==4.13.4
blinker==1.9.0
brax==0.12.1
cachecontrol==0.14.3
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chex==0.1.90
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
colour==0.1.5
colour-science==0.4.4
comtypes==1.4.12
contextlib2==21.6.0
contourpy==1.3.0
cors==1.0.1
cryptography==45.0.3
cycler==0.12.1
dateparser==1.2.2
Distance==0.1.3
distlib==0.3.9
distro==1.9.0
dm-env==1.6
dm-tree==0.1.8
etils==1.5.2
exceptiongroup==1.3.0
filelock==3.18.0
firebase==4.0.1
firebase-admin==6.8.0
flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==25.9.23
flax==0.8.5
fonttools==4.58.4
frozenlist==1.6.2
fsspec==2025.9.0
future==1.0.0
g2p-en==2.1.0
gevent==25.8.2
git-filter-repo==2.47.0
glfw==2.10.0
google==3.0.0
google-api-core==2.25.0
google-api-python-client==2.181.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googlesearch-python==1.3.0
greenlet==3.2.4
grpcio==1.72.1
grpcio-status==1.72.1
gTTS==2.5.4
gym==0.26.2
gym-notices==0.1.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
humanize==4.13.0
idna==3.10
imageio==2.37.0
importlib-metadata==8.7.0
importlib-resources==6.5.2
imutils==0.5.4
inflect==7.5.0
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jaxopt==0.8.5
jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
lazy-loader==0.4
llvmlite==0.43.0
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
mediapipe==0.10.21
ml-collections==0.1.1
ml-dtypes==0.5.3
more-itertools==10.8.0
MouseInfo==0.1.3
msgpack==1.1.0
mujoco==3.3.7
mujoco-mjx==3.3.7
multidict==6.4.4
mysql-connector-python==8.2.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.2
numba==0.60.0
numpy==2.0.2
oauthlib==3.3.1
openai==0.28.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.4.0
optax==0.2.4
optional-django==0.3.0
orbax-checkpoint==0.6.4
packaging==25.0
pdfminer-six==20251107
pdfplumber==0.11.8
pillow==11.2.1
platformdirs==4.3.8
playground==0.0.2
playsound==1.3.0
plyer==2.1.0
pooch==1.8.2
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.21.12
psutil==7.1.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyautogui==0.9.54
pycaw==20240210
pycparser==2.22
pydantic==2.11.5
pydantic-core==2.33.2
pydub==0.25.1
PyGetWindow==0.0.9
pygments==2.19.2
PyJWT==2.10.1
pymatting==1.1.14
pymsgbox==1.0.9
pyobjc==11.1
pyobjc-core==11.1
pyobjc-framework-accessibility==11.1
pyobjc-framework-accounts==11.1
pyobjc-framework-addressbook==11.1
pyobjc-framework-adservices==11.1
pyobjc-framework-adsupport==11.1
pyobjc-framework-applescriptkit==11.1
pyobjc-framework-applescriptobjc==11.1
pyobjc-framework-applicationservices==11.1
pyobjc-framework-apptrackingtransparency==11.1
pyobjc-framework-audiovideobridging==11.1
pyobjc-framework-authenticationservices==11.1
pyobjc-framework-automaticassessmentconfiguration==11.1
pyobjc-framework-automator==11.1
pyobjc-framework-avfoundation==11.1
pyobjc-framework-avkit==11.1
pyobjc-framework-avrouting==11.1
pyobjc-framework-backgroundassets==11.1
pyobjc-framework-browserenginekit==11.1
pyobjc-framework-businesschat==11.1
pyobjc-framework-calendarstore==11.1
pyobjc-framework-callkit==11.1
pyobjc-framework-carbon==11.1
pyobjc-framework-cfnetwork==11.1
pyobjc-framework-cinematic==11.1
pyobjc-framework-classkit==11.1
pyobjc-framework-cloudkit==11.1
pyobjc-framework-cocoa==11.1
pyobjc-framework-collaboration==11.1
pyobjc-framework-colorsync==11.1
pyobjc-framework-contacts==11.1
pyobjc-framework-contactsui==11.1
pyobjc-framework-coreaudio==11.1
pyobjc-framework-coreaudiokit==11.1
pyobjc-framework-corebluetooth==11.1
pyobjc-framework-coredata==11.1
pyobjc-framework-corehaptics==11.1
pyobjc-framework-corelocation==11.1
pyobjc-framework-coremedia==11.1
pyobjc-framework-coremediaio==11.1
pyobjc-framework-coremidi==11.1
pyobjc-framework-coreml==11.1
pyobjc-framework-coremotion==11.1
pyobjc-framework-coreservices==11.1
pyobjc-framework-corespotlight==11.1
pyobjc-framework-coretext==11.1
pyobjc-framework-corewlan==11.1
pyobjc-framework-cryptotokenkit==11.1
pyobjc-framework-datadetection==11.1
pyobjc-framework-devicecheck==11.1
pyobjc-framework-devicediscoveryextension==11.1
pyobjc-framework-dictionaryservices==11.1
pyobjc-framework-discrecording==11.1
pyobjc-framework-discrecordingui==11.1
pyobjc-framework-diskarbitration==11.1
pyobjc-framework-dvdplayback==11.1
pyobjc-framework-eventkit==11.1
pyobjc-framework-exceptionhandling==11.1
pyobjc-framework-executionpolicy==11.1
pyobjc-framework-extensionkit==11.1
pyobjc-framework-externalaccessory==11.1
pyobjc-framework-fileprovider==11.1
pyobjc-framework-fileproviderui==11.1
pyobjc-framework-findersync==11.1
pyobjc-framework-fsevents==11.1
pyobjc-framework-fskit==11.1
pyobjc-framework-gamecenter==11.1
pyobjc-framework-gamecontroller==11.1
pyobjc-framework-gamekit==11.1
pyobjc-framework-gameplaykit==11.1
pyobjc-framework-healthkit==11.1
pyobjc-framework-imagecapturecore==11.1
pyobjc-framework-inputmethodkit==11.1
pyobjc-framework-installerplugins==11.1
pyobjc-framework-instantmessage==11.1
pyobjc-framework-intents==11.1
pyobjc-framework-intentsui==11.1
pyobjc-framework-iobluetooth==11.1
pyobjc-framework-iobluetoothui==11.1
pyobjc-framework-iosurface==11.1
pyobjc-framework-ituneslibrary==11.1
pyobjc-framework-kernelmanagement==11.1
pyobjc-framework-latentsemanticmapping==11.1
pyobjc-framework-launchservices==11.1
pyobjc-framework-libdispatch==11.1
pyobjc-framework-libxpc==11.1
pyobjc-framework-linkpresentation==11.1
pyobjc-framework-localauthentication==11.1
pyobjc-framework-localauthenticationembeddedui==11.1
pyobjc-framework-mailkit==11.1
pyobjc-framework-mapkit==11.1
pyobjc-framework-mediaaccessibility==11.1
pyobjc-framework-mediaextension==11.1
pyobjc-framework-medialibrary==11.1
pyobjc-framework-mediaplayer==11.1
pyobjc-framework-mediatoolbox==11.1
pyobjc-framework-metal==11.1
pyobjc-framework-metalfx==11.1
pyobjc-framework-metalkit==11.1
pyobjc-framework-metalperformanceshaders==11.1
pyobjc-framework-metalperformanceshadersgraph==11.1
pyobjc-framework-metrickit==11.1
pyobjc-framework-mlcompute==11.1
pyobjc-framework-modelio==11.1
pyobjc-framework-multipeerconnectivity==11.1
pyobjc-framework-naturallanguage==11.1
pyobjc-framework-netfs==11.1
pyobjc-framework-network==11.1
pyobjc-framework-networkextension==11.1
pyobjc-framework-notificationcenter==11.1
pyobjc-framework-opendirectory==11.1
pyobjc-framework-osakit==11.1
pyobjc-framework-oslog==11.1
pyobjc-framework-passkit==11.1
pyobjc-framework-pencilkit==11.1
pyobjc-framework-phase==11.1
pyobjc-framework-photos==11.1
pyobjc-framework-photosui==11.1
pyobjc-framework-preferencepanes==11.1
pyobjc-framework-pushkit==11.1
pyobjc-framework-quartz==11.1
pyobjc-framework-quicklookthumbnailing==11.1
pyobjc-framework-replaykit==11.1
pyobjc-framework-safariservices==11.1
pyobjc-framework-safetykit==11.1
pyobjc-framework-scenekit==11.1
pyobjc-framework-screencapturekit==11.1
pyobjc-framework-screensaver==11.1
pyobjc-framework-screentime==11.1
pyobjc-framework-scriptingbridge==11.1
pyobjc-framework-searchkit==11.1
pyobjc-framework-security==11.1
pyobjc-framework-securityfoundation==11.1
pyobjc-framework-securityinterface==11.1
pyobjc-framework-securityui==11.1
pyobjc-framework-sensitivecontentanalysis==11.1
pyobjc-framework-servicemanagement==11.1
pyobjc-framework-sharedwithyou==11.1
pyobjc-framework-sharedwithyoucore==11.1
pyobjc-framework-shazamkit==11.1
pyobjc-framework-social==11.1
pyobjc-framework-soundanalysis==11.1
pyobjc-framework-speech==11.1
pyobjc-framework-spritekit==11.1
pyobjc-framework-storekit==11.1
pyobjc-framework-symbols==11.1
pyobjc-framework-syncservices==11.1
pyobjc-framework-systemconfiguration==11.1
pyobjc-framework-systemextensions==11.1
pyobjc-framework-threadnetwork==11.1
pyobjc-framework-uniformtypeidentifiers==11.1
pyobjc-framework-usernotifications==11.1
pyobjc-framework-usernotificationsui==11.1
pyobjc-framework-videosubscriberaccount==11.1
pyobjc-framework-videotoolbox==11.1
pyobjc-framework-virtualization==11.1
pyobjc-framework-vision==11.1
pyobjc-framework-webkit==11.1
pyopengl==3.1.10
pyparsing==3.2.3
pypdfium2==5.7.0
pyperclip==1.9.0
PyRect==0.2.0
pyscreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
pytinyrenderer==0.0.14
pyttsx3==2.99
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
pyyaml==6.0.3
react==4.3.0
referencing==0.36.2
regex==2025.9.1
rembg==2.0.61
replicate==1.0.7
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
rich==14.2.0
rpds-py==0.25.1
rsa==4.9.1
rubicon-objc==0.5.0
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
sentencepiece==0.2.1
simpleaudio==1.0.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.2
soupsieve==2.7
tavily-python==0.7.11
tensorboardx==2.6.4
tensorstore==0.1.69
threadpoolctl==3.6.0
tifffile==2024.8.30
tiktoken==0.11.0
timedelta==2020.12.3
tk==0.1.0
tldextract==5.3.0
toolz==1.0.0
tqdm==4.67.1
trimesh==4.8.3
typeguard==4.4.4
typing-extensions==4.15.0
typing-inspection==0.4.1
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.4.0
virtualenv==20.31.2
webcolors==24.11.1
websocket==0.2.1
werkzeug==3.1.3
wikipedia==1.4.0
xmltodict==1.0.2
yarl==1.20.0
zipp==3.21.0
zope-event==5.1.1
zope.interface==7.2
